<a href="https://colab.research.google.com/github/Aaaron1995/class20221017/blob/main/class1017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


可支援\
## markdown語法
* 範例一
- 範例二
  > 放引言
  >> 放引言中的引言

---

# LaTeX Math 語法

$ Area = \frac{1}{2} \pi r^2 \\
=2 \int^{r}_{-r} \sqrt{r^2-x^2} dx$

反正就是要放在$$之間\
特殊符號與運算子前面要加\\

In [1]:
!pip install scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)

In [4]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
db = pd.DataFrame(iris["data"], columns = iris["feature_names"])#讀取資料為表格
db["ans"] = iris["target"]
db

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),ans
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

# 統計資料量需求：
* **ML**：一千以上
* **DL**：一萬以上

**資料量多寡 -> 問題難度** 欄位數目掛勾